.type-chip {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  &.normal { background: #a8a878; }
  &.fire { background: #f08030; }
  &.water { background: #6890f0; }
  &.electric { background: #f8d030; color: #333; }
  &.grass { background: #78c850; }
  &.ice { background: #98d8d8; color: #333; }
  &.fighting { background: #c03028; }
  &.poison { background: #a040a0; }
  &.ground { background: #e0c068; color: #333; }
  &.flying { background: #a890f0; }
  &.psychic { background: #f85888; }
  &.bug { background: #a8b820; }
  &.rock { background: #b8a038; }
  &.ghost { background: #705898; }
  &.dragon { background: #7038f8; }
  &.dark { background: #705848; }
  &.steel { background: #b8b8d0; color: #333; }
  &.fairy { background: #ee99ac; color: #333; }
}
